$font: 'Mulish', sans-serif;

$primary: #ef562c;
$white: #fff;
$black: #292929;
$text: #c2c2c2;
$text1: #898989;
$text2: #707070;
$textccc: #ccc;
$border: #ebebeb;
$borderColor: 1px solid #e9edf5;
$borderCategory: #ebebeb;
$backgroundDetail: #f7f7f7;
$orange: #ffc640;
$boxShadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);